
h1{
    color:red;
    font-size : 40px;
    
}
p{
    color:blue;
}

.card{
    width:100px;
    padding:100px;
    border:2px solid blueviolet;
    margin:30;
    background-color: violet;
} 

 .flex{
    
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
 }
 .grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
 }

.box{
    background-color: lightblue;
    padding: 20px;
    font-size: large;
}

.screen-lable{
    background-color: steelblue;
    color: azure;
    padding: 10px 20px;
    font-size: large;
    margin-bottom: 20px;
    display: inline-block;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card{
    background-color: lightcoral;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
@media(max-width:600px){
    .cards{
        grid-template-columns: 1fr;
    }
    .screen-lable{
        background-color: green;
    }
}


