(% load static %)
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bookshelf{% endblock %}</title>
</head>
<body>
    <nav>
        <a class="brand" href="{% url 'home' %}">Bookshelf</a>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'book_add' % }">Add Book</a>
                <a href="{% url 'logout' %}">Logout ({{ user.username}})</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% if message %}
            <ul class="messages">
                {% for message in message %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

